<?xml version="1.0" encoding="UTF-8"?>

<phpunit convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="../nerd/tests/bootstrap.php"
         strict="true">
	<testsuites>
		<testsuite name="Theme Library Test Suite">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>